<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog-site</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">

</head>

<body>

    <header>
        <button> Home</button>
        <button> Dashboard</button>
        <button> Logout</button>

        <h1> Tech blog </h1>
    </header>
  
    <main>
        <p>Here will produce posts</p>
    </main>
    
</body>

</html>

<script src=""></script>